body {
  background-color: #18A0FB;
}

.button {
  display: block;
  padding: 2vh 0;
  margin: 2vh 8vw;
  /* width: 80%; */
  background: #DDDDDD;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  color: black;
}

.button:hover {
  background: #EEEEEE;
  cursor: pointer;
}

.TextBox {
  height: 30vh;
  margin-top: 5vh;
}

.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.AppCard {
  text-align: center;
  margin: 20vh 2.5vw 0;
  position: absolute;
  width: 95vw;
  height: 80vh;
  background: #FBFAFA;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  border-radius: 10px;
}